{% extends "base.html" %}

{% block style %}
<style>
a:hover {
    color:lightslategrey;
}
a {
    text-decoration: none !important;
    color: darkslategrey;
}
.sub-content {
    margin: 1%;
    padding: 10px;
    max-height: 750px;
    overflow: scroll;
    border: 1px dotted lightgrey;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

{% if summary %}
<div class="content">
    <h2>{{ summary }} <small class="pull-right">
        <a href="{% url 'index' %}"><i class="fa fa-home"></i></a></small>
    </h2>
    <div class="sub-content">
        {% for line in filtered_data %}
            <pre>{{ forloop.counter }}.&nbsp;{{ line }}</pre>
        {% empty %}
            <p>No further details found.</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
